<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <%- include('./components/modalGroup.ejs') %> <%- include('./components/modalAddMeeting.ejs') %>
        <main>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00b7eb">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">XIN CHÀO GIẢNH VIÊN</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Tuỳ Chọn
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-home"
                                            >Tạo Group</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-home"
                                            >Xem lịch</a
                                        >
                                    </li>
                                    <li><a class="dropdown-item" id="logout" href="#">Đăng Xuất</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/get-manage-user">Quản lí tài khoản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="view-lich-teacher" href="/get-manage-user">Quản lí thời gian</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container py-5">
                <h1>Group</h1>
                <div class="py-3">
                    <% if(data){ %> <% if(data.data.users && data.data.users.length > 0 ){ %>
                    <div class="card px-3 py-4">
                        <h4>Thành viên</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Lớp</th>
                                    <th scope="col">Mã Số</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (item of data.data.users) { %>
                                <tr>
                                    <th scope="row"><%= item.id %></th>
                                    <td><%= item.firstName %></td>
                                    <td><%= item.lastName %></td>
                                    <td><%= item.class %></td>
                                    <td><%= item.maso %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <% }%><% if(data.data.group.DataMeeting && data.data.group.DataMeeting.length > 0){ %>
                    <div class="card px-3 py-4 mt-4">
                        <h4>Thời gian meeting</h4>
                        <div class="row">
                            <% if(data.data.group.DataHistoryData){ %> <% for (item of data.data.group.DataHistoryData)
                            { %>
                            <div class="col-4 px-2 mb-3">
                                <div style="background-color: #ccc; padding: 10px 20px; border-radius: 10px">
                                    <h6>Meeting vào ngày : <%= item.DataHistory[0].day %></h6>
                                    <h6>Giờ bắt đầu : <%= item.DataHistory[0].startTime %></h6>
                                    <h6>Giờ kết thúc :<%= item.DataHistory[0].endTime %></h6>
                                    <h6 class="py-2 text-end">
                                        Trạng Thái: <%= item.DataHistory[0].isDone ? "Đã Hoàn Thành" : "Chưa Hoàn Thành"
                                        %>
                                        <br />
                                        <%= item.DataHistory[0].isCancelled ? "Đã bị Hủy" : "" %>
                                        <br />
                                        Nguời Tạo: <%= item.DataHistory[0].isTeacher ? "Giảng Viên" : "Học Sinh" %>
                                    </h6>
                                </div>
                            </div>
                            <% } %> <% } %> <% for (item of data.data.group.DataMeeting) { %>
                            <div class="col-4 px-2 mb-3">
                                <div style="background-color: #ee4d2d; padding: 10px 20px; border-radius: 10px">
                                    <h6>Meeting vào ngày : <%= item.day %></h6>
                                    <h6>Giờ bắt đầu : <%= item.startTime %></h6>
                                    <h6>Giờ kết thúc :<%= item.endTime %></h6>
                                    <h6 class="py-2 text-end">
                                        Trạng Thái: <%= item.isDone ? "Đã Hoàn Thành" : "Chưa Hoàn Thành" %>
                                        <br />
                                        <%= item.isCancelled ? "Đã bị Hủy" : "" %>
                                        <br />
                                        Nguời Tạo: <%= item.isTeacher ? "Giảng Viên" : "Học Sinh" %>
                                    </h6>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="py-3">
                            <button
                                data-bs-toggle="modal"
                                data-bs-target="#modal-add-time-meeting"
                                class="btn btn-primary add-meeting-for-unix"
                                onclick="handleClickAddMeeting('<%= data.data.group.id %>')"
                            >
                                Thêm lịch hẹn
                            </button>
                        </div>
                    </div>
                    <% } else{ %>
                    <div class="py-3">
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#modal-add-time-meeting"
                            class="btn btn-primary add-meeting-for-unix"
                            onclick="handleClickAddMeeting(`<%= data.data.group.id %>`)"
                        >
                            Thêm lịch hẹn
                        </button>
                    </div>
                    <% } %> <% } else{ %>
                    <h1>bar</h1>
                    <% } %>
                </div>
            </div>
        </main>
        <script>
            const User = localStorage.getItem('users');

            if (!User) {
                window.location.href = 'http://localhost:8080/get-login';
            }
        </script>
        <script src="/js/main.js"></script>
        <script src="/js/teacher.js"></script>
        <script src="/js/AddMetting.js"></script>
        <script>
            console.log('<%- JSON.stringify(data) %>');
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
